body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: white;
}

h1{
  font-family: 'Roboto Slab', serif;
  color:white;
  margin: 0 0 .5% 0;
}

h2{
  font-family: 'Roboto Slab', sans-serif;
}

h3{
  font-family: 'Roboto Slab', sans-serif;
}

a{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  background-color: white;
  color: black;
}
.top-container{
  background-color: black;
  height: 55px;
  margin-bottom: 15px;
  padding-top: 145px;
}


.soren-playing-img{
  width: 40%;
  margin-left: 0;
  display:block;
  position: relative;
  float:left;
  height: 673.484px;
}

.hollow-home-img{
  width: 40%;
  margin-left: 0;
  display:block;
  position: relative;
  float:right;
  height: 673.484px;
}

.alright-bud{
  position:static;
  display: inline-block;
  margin-left: 150px;
  margin-right: 1500px;
  font-size: 2em;
  font-weight: bold;
}

.middle-container{
  width: 100%;
  height: 673.484px;
  background-color: white;
  position: relative;
}

.middle-container{
  width: 100%;
  height: 673.484px;
  background-color: white;
  position: relative;
}

.middle-content-container{
  background-color: black;
  position: relative;
  margin-left: 40.5%;
  width: 59.5%;
  height: 633.484px;
  padding: 20px 0 20px 0;
  color: white;
}

.middle-content-container-shows{
  background-color: black;
  position: relative;
  margin-left: 0;
  width: 59.5%;
  height: 633.484px;
  padding: 20px 0 20px 0;
  color: white;
}
.middle-content{
  padding-left: 39.92px;
  line-height: 2;
  word-spacing: 4px;
}

.bottom-container{
  background-color: black;
  width: 100%;
  height: 450px;
  margin-top: .5%;
  display: inline-block;
  text-align: center;
}

.top-links{
  margin: 0 70px;
}

.copyright{
  text-align: right;
  font-size: .5em;
  color: white;
  padding: 20px 20px 20px 20px;
}

.bandcamp-player{
  position: absolute;
  margin-left: 39.92px;
  display: inline;
}

.demo-days-cover{
  width:300px;
  float: right;
  margin-left: 39.92px;
  margin-right: 39.92px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 0;
  border: solid 3px white;
}

.bandcamp-img{
  width: 200px;
}

.spotify-link{
  margin: 30px 100px 0 100px;
}

.apple-link{
  margin: 20px 100px 0 100px;
}

.bandcamp-link{
  margin: 33px 100px 0 100px;
}
.bandcamp-link:hover{
  background-color: black;
}

.shows-table{
  width: 700px;
  margin-left: 39.92px;
  height: 300px;
  line-height: 2;
  word-spacing: 4px;
  font-size: 1.1em;
}
